__pycache__/
.fake/
.hg/
.terraform/
.vs/
.vscode/
.kilo/
[Bb]in/
[Bb]uild/
[Bb]ld/
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Ll]og/
[Nn]ode_[Mm]odules/
[Oo]bj/
[Pp]ackages/
[Pp]ublish/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/

doc/

*.ldf
*.log
*.mdf
*.ndf
*.pyc
*.user
*.suo

[Aa]pp[Ss]ettings.json
[Ll]aunch[Ss]ettings.json
AGENTS.md
kilo.json
